name: PyPI release
on:
  release:
    types: [published]
jobs:
  test:
    uses: ./.github/workflows/test.yml
  deploy-pypi:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/revohsup
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python
        run: uv python install
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
  deploy-docs:
    uses: ./.github/workflows/deploy-docs.yml
    needs: deploy-pypi
